[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=YouTube
Exec=/opt/brave.com/brave-origin-nightly/brave-origin-nightly "--profile-directory=Profile 3" --app-id=agimnkijcaahngcdmfeangaknmldooml
Icon=brave-agimnkijcaahngcdmfeangaknmldooml-Profile_3
StartupWMClass=crx_agimnkijcaahngcdmfeangaknmldooml
Actions=Shorts;Subscription;Telusuri

[Desktop Action Shorts]
Name=Shorts
Exec=/opt/brave.com/brave-origin-nightly/brave-origin-nightly "--profile-directory=Profile 3" --app-id=agimnkijcaahngcdmfeangaknmldooml "--app-launch-url-for-shortcuts-menu-item=https://www.youtube.com/shorts?feature=app_shortcuts"

[Desktop Action Subscription]
Name=Subscription
Exec=/opt/brave.com/brave-origin-nightly/brave-origin-nightly "--profile-directory=Profile 3" --app-id=agimnkijcaahngcdmfeangaknmldooml "--app-launch-url-for-shortcuts-menu-item=https://www.youtube.com/feed/subscriptions?feature=app_shortcuts"

[Desktop Action Telusuri]
Name=Telusuri
Exec=/opt/brave.com/brave-origin-nightly/brave-origin-nightly "--profile-directory=Profile 3" --app-id=agimnkijcaahngcdmfeangaknmldooml "--app-launch-url-for-shortcuts-menu-item=https://www.youtube.com/results?feature=app_shortcuts"
