[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=X
Exec=/opt/brave.com/brave-origin-nightly/brave-origin-nightly "--profile-directory=Profile 3" --app-id=lodlkdfmihgonocnmddehnfgiljnadcf
Icon=brave-lodlkdfmihgonocnmddehnfgiljnadcf-Profile_3
StartupWMClass=crx_lodlkdfmihgonocnmddehnfgiljnadcf
Actions=Direct-Message;Jelajahi;Notifikasi;Postingan-baru

[Desktop Action Direct-Message]
Name=Direct Message
Exec=/opt/brave.com/brave-origin-nightly/brave-origin-nightly "--profile-directory=Profile 3" --app-id=lodlkdfmihgonocnmddehnfgiljnadcf "--app-launch-url-for-shortcuts-menu-item=https://x.com/messages?utm_source=jumplist&utm_medium=shortcut"

[Desktop Action Jelajahi]
Name=Jelajahi
Exec=/opt/brave.com/brave-origin-nightly/brave-origin-nightly "--profile-directory=Profile 3" --app-id=lodlkdfmihgonocnmddehnfgiljnadcf "--app-launch-url-for-shortcuts-menu-item=https://x.com/explore?utm_source=jumplist&utm_medium=shortcut"

[Desktop Action Notifikasi]
Name=Notifikasi
Exec=/opt/brave.com/brave-origin-nightly/brave-origin-nightly "--profile-directory=Profile 3" --app-id=lodlkdfmihgonocnmddehnfgiljnadcf "--app-launch-url-for-shortcuts-menu-item=https://x.com/notifications?utm_source=jumplist&utm_medium=shortcut"

[Desktop Action Postingan-baru]
Name=Postingan baru
Exec=/opt/brave.com/brave-origin-nightly/brave-origin-nightly "--profile-directory=Profile 3" --app-id=lodlkdfmihgonocnmddehnfgiljnadcf "--app-launch-url-for-shortcuts-menu-item=https://x.com/compose/post?utm_source=jumplist&utm_medium=shortcut"
