#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Instagram
Exec=/opt/brave.com/brave-origin-nightly/brave-origin-nightly "--profile-directory=Profile 3" --app-id=akpamiohjfcnimfljfndmaldlcfphjmp
Icon=brave-akpamiohjfcnimfljfndmaldlcfphjmp-Profile_3
StartupWMClass=crx_akpamiohjfcnimfljfndmaldlcfphjmp
