[Desktop Entry]
Name=Calendar
GenericName=Calendar
Comment=Calendar and event management
Keywords=calendar;event;appointment;meeting;
Exec=sh -c 'gnome-calendar >/dev/null 2>&1'
Terminal=false
Type=Application
StartupNotify=true
Icon=org.gnome.Calendar
Categories=Office;Calendar;GTK;GNOME;
NoDisplay=false