[Desktop Entry]
Name=Camera
GenericName=Camera
Comment=Take photos and videos with your camera
Keywords=photo;video;webcam;camera;selfie;
Exec=sh -c 'cheese >/dev/null 2>&1'
Terminal=false
Type=Application
StartupNotify=true
Icon=org.gnome.Cheese
Categories=GNOME;AudioVideo;Video;Recorder;
DBusActivatable=true
NoDisplay=false