[Desktop Entry]
Name=GMusic
Comment=Native desktop YouTube Music client
Exec=@HOME@/.local/bin/gmusic %U
Terminal=false
Type=Application
Icon=gmusic
Categories=Audio;AudioVideo;Player;
StartupWMClass=GMusic
MimeType=x-scheme-handler/gmusic;
