[Desktop Entry]
Name=Maps
GenericName=Maps
Comment=Maps and navigation
Keywords=maps;navigation;location;gps;directions;
Exec=sh -c 'gnome-maps >/dev/null 2>&1'
Terminal=false
Type=Application
StartupNotify=true
Icon=org.gnome.Maps
Categories=Network;Geography;GTK;GNOME;
NoDisplay=false