[Desktop Entry]
Exec=epiphany --application-mode "--profile=@HOME@/.local/share/org.gnome.Epiphany.WebApp_4780068fad7255c0dadea1ceb147df61713e7b29" https://galyarder.my.id/
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;
StartupWMClass=org.gnome.Epiphany.WebApp_4780068fad7255c0dadea1ceb147df61713e7b29
X-Purism-FormFactor=Workstation;Mobile;
Name=Galyarder Ascendancy
Icon=@HOME@/.local/share/xdg-desktop-portal/icons/192x192/org.gnome.Epiphany.WebApp_4780068fad7255c0dadea1ceb147df61713e7b29.png
