[Desktop Entry]
Type=Application
Name=Brave
Exec=waydroid app launch com.brave.browser
Icon=@HOME@/.local/share/waydroid/data/icons/com.brave.browser.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app-settings;

[Desktop Action app-settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:com.brave.browser
Icon=@HOME@/.local/share/waydroid/data/icons/com.android.settings.png
