[Desktop Entry]
Type=Application
Name=ZArchiver
Exec=waydroid app launch ru.zdevs.zarchiver
Icon=@HOME@/.local/share/waydroid/data/icons/ru.zdevs.zarchiver.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app-settings;

[Desktop Action app-settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:ru.zdevs.zarchiver
Icon=@HOME@/.local/share/waydroid/data/icons/com.android.settings.png
