[Desktop Entry]
Type=Application
Name=Magic Chess: GO GO
Exec=waydroid app launch com.mobilechess.gp
Icon=@HOME@/.local/share/waydroid/data/icons/com.mobilechess.gp.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app-settings;

[Desktop Action app-settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:com.mobilechess.gp
Icon=@HOME@/.local/share/waydroid/data/icons/com.android.settings.png
