[Desktop Entry]
Name=Weather
GenericName=Weather
Comment=Weather forecasts and conditions
Keywords=weather;forecast;temperature;climate;
Exec=sh -c 'gnome-weather >/dev/null 2>&1'
Terminal=false
Type=Application
StartupNotify=true
Icon=org.gnome.Weather
Categories=Network;WebBrowser;GTK;GNOME;
NoDisplay=false