[Desktop Entry]
Type=Application
Name=rundll32
MimeType=application/x-ms-application;
Exec=env WINEPREFIX="@HOME@/Games/Heroic/Prefixes/default/PES Blue Lock/drive_c/Games/Pro Evolution Soccer 2017" wine start /ProgIDOpen Application.Manifest %f
NoDisplay=true
StartupNotify=true
Icon=5742_rundll32.0
